* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #9fc5ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
}


.toggle-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  color: #ffffff;
  
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}


.dropdown-menu  {
  
  display: none;
  position: absolute;
  background-color: #4e4949;
  z-index: 1;
  list-style: none;
}

.dropdown-menu li {
  padding: 10px;
}

.arrow-down {
  margin-left: 5px;
}


.toggle-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}


.active .toggle-icon {
  color: #ffffff; 
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover  {
  background-color: rgb(17, 0, 255);
}

li b, .dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li b:hover, .dropdown:hover  {
  background-color: rgb(81, 81, 85);
}
